/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&mt { tapping-term-ms = <180>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        main_0 {
            bindings = <
&kp Z           &kp X        &kp C           &kp V             &kp B                           &kp N                     &kp M             &kp COMMA       &kt PERIOD   &kp SLASH
&mt LEFT_GUI A  &mt LCTRL S  &mt LEFT_ALT D  &mt LEFT_SHIFT F  &mt LA(LC(LG(LEFT_SHIFT))) G    &mt LA(LC(LG(LSHIFT))) H  &mt LEFT_SHIFT J  &mt LEFT_ALT K  &mt LCTRL L  &mt LEFT_GUI SEMICOLON
&kp Q           &kp W        &kp E           &kp R             &kp T                           &kp Y                     &kp U             &kp I           &kp O        &kp P
                                             &lt 1 TAB         &lt 4 RET                       &lt 3 SPACE               &lt 2 BACKSPACE
            >;
        };

        sym_1 {
            bindings = <
&trans                    &kp CLCK           &kt RIGHT_ALT      &kt ESCAPE             &trans                              &kp UNDERSCORE                    &kp LEFT_BRACE                   &kp RIGHT_BRACE                 &kp GRAVE           &kp NON_US_BACKSLASH
&mt LEFT_GUI EXCLAMATION  &mt LCTRL AT_SIGN  &mt LEFT_ALT HASH  &mt LEFT_SHIFT DOLLAR  &mt LA(LC(LG(LEFT_SHIFT))) EQUAL    &mt LA(LC(LG(LEFT_SHIFT))) MINUS  &mt LEFT_SHIFT LEFT_PARENTHESIS  &mt LEFT_ALT RIGHT_PARENTHESIS  &mt LCTRL ASTERISK  &mt LEFT_GUI SINGLE_QUOTE
&trans                    &trans             &trans             &trans                 &trans                              &kp AMPERSAND                     &kp LEFT_BRACKET                 &kp RIGHT_BRACKET               &kp CARET           &kp PERCENT
                                                                &trans                 &trans                              &trans                            &trans
            >;
        };

        media_nav_2 {
            bindings = <
&trans  &trans      &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans              &trans          &trans    &trans        &trans     &mkp LCLK
&trans  &kp K_MUTE  &kp C_VOLUME_DOWN     &kp C_VOLUME_UP       &kp K_PLAY_PAUSE    &kp LEFT_ARROW  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &mkp RCLK
&kp F1  &kp F2      &kp F3                &kp F4                &kp F5              &kp F6          &kp F7    &kp F8        &kp F9     &kp F10
                                          &trans                &trans              &trans          &trans
            >;
        };

        number_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0
&trans  &trans  &trans  &trans  &trans    &trans  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        system_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans    &trans        &trans        &trans        &bt BT_CLR    &bt BT_CLR_ALL
&trans  &trans  &trans  &trans  &trans    &trans        &trans        &trans        &bootloader   &sys_reset
                        &trans  &trans    &trans        &trans
            >;
        };
    };
};
